---
import {RepositoryCard} from "./RepositoryCard.tsx";

interface Props {
    repos: any[] | undefined | null;
};

var {repos} = Astro.props;
if (repos == null) {
    repos = [];
}
---

<div class="gap-8 lg:grid-cols-2 grid">
    {
        repos.map((repo) => {
            return <RepositoryCard repo={repo} />;
        })
    }
</div>