---
import type { Repository } from "../util.ts";
import {RepositoryCard} from "./RepositoryCard.tsx";

interface Props {
    repos: Repository[];
};

const {repos} = Astro.props;
---

<div class="mx-auto w-2/3 gap-8 grid-cols-2 grid">
    {repos.map((repo) => {
        return <RepositoryCard repo={repo} />;
    })}
</div>